* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* -------------HEADER----------------- */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #ffecfc 0%, #ffffff 100%);
}

.texto-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: rgb(255, 139, 211);
}

header p {
    font-family: 'Pacifico', cursive;
    color: rgb(255, 139, 211);
    font-size: 1.5rem;
}

header h1 {
    margin-top: 3vh;
    font-size: 4rem;
    color: rgb(48, 48, 48);
}

header h2 {
    margin-top: 3vh;
    font-size: 1.5rem;
    color: rgb(111, 111, 111);
    font-weight: normal;
    width: 50%;
    text-align: center;
}

header button {
    margin-top: 5vh;
    height: 8vh;
    width: 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: transparent;
    background-color: #ff49b9;
    gap: 10px;
    transition: all .55s ease-in-out;
    transform: scale(0.95);
    animation: botao-animado 1s ease-in-out infinite;
}

header button:hover {
    background-color: #ff7dcd;
    transform: scale(1);
    cursor: pointer;
}

@keyframes botao-animado {
    0% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(0.98);
    }

    100% {
        transform: scale(0.95);
    }
}

header button i {
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

header button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

/* --------------MAIN------------------------ */

main {
    background-color: #ffecfc;
    height: auto;
    /* padding-bottom: 5vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.container-sabores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    gap: 10px;
    cursor: default;
    margin-bottom: 5vh;
    /* background-color: red; */
}

main h1 {
    margin-top: 5vh;
    font-size: 2.2rem;
    font-weight: bold;
    color: rgb(43, 43, 43);
    letter-spacing: 1px;
}

.containers-sabores {
    margin-top: 4vh;
    background-color: rgb(255, 255, 255);
    /* padding: 30px; */
    height: 35vh;
    width: 18%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .55s ease-in-out;
    transform: scale(0.95);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.container-sabores :hover {
    transform: scale(1);
}

.containers-sabores-texto {
    text-align: center;
}

.containers-sabores-texto h2 {
    font-size: 3.1rem;
}

.containers-sabores-texto h1 {
    font-size: 1rem;
    margin-top: 2vh;
}

.containers-sabores-texto p {
    margin-top: 2vh;
    color: rgb(255, 75, 213);
    font-size: 0.9rem;
}

.container-sabores p {
    margin-bottom: 2vh;
}

.containers-sabores-promocao {
    margin-top: 5vh;
    border-radius: 20px;
    height: 20vh;
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containers-sabores-promocao h2 {
    margin-top: 2vh;
    font-size: 1.1rem;
    color: #272727;
    text-align: center;
    font-weight: normal;
}

.containers-sabores-promocao p {
    color: gray;
    margin-top: 2vh;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

span {
    color: rgb(255, 75, 213);
    font-weight: bold;
}

.container-promocao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-img {
    height: 70vh;
    width: 100%;
}

.container-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ---------------FOOTER------------------- */

footer {
    /* height: 60vh; */
    /* margin-bottom: 10vh; */
    width: 100%;
    background-color: #ffecfc;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

footer h1 {
    margin-top: 10vh;
    font-size: 2rem;
    color: #2f2f2f;
    font-weight: bold;
    letter-spacing: 1px;
}

footer p {
    margin-top: 5vh;
    font-size: 1rem;
    color: rgb(81, 81, 81);
    letter-spacing: 1px;
}

.container-footer {
    margin-top: 8vh;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    /* background-color: red; */
    /* height: 20vh; */
    width: 40%;
}

.container-contato {
    height: 12vh;
    width: 40%;
    background-color: #25D366;
    border-radius: 30px;
    border: transparent;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    transition: all .55s ease-in-out;
    transform: scale(0.95);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.container-contato:hover {
    transform: scale(1);
    cursor: pointer;
}

.container-contato a {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* margin-left: -1vh; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 100%;
    height: 100%;
}

footer i {
    /* margin-right: 1vh; */
    font-size: 1rem;
}

.container-contato-span {
    height: 12vh;
    width: 40%;
    /* background-color: rgb(255, 75, 213); */
    background: linear-gradient(45deg, #FF4DA6, #C13584);
    border-radius: 30px;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: all .55s ease-in-out;
    transform: scale(0.95);
}

.container-contato-span:hover {
    cursor: pointer;
    transform: scale(1);
}

.container-contato-span a {
    text-decoration: none;

    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* margin-left: -1vh; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 100%;
    height: 100%;  
}

.container-contato-span i {
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

/* ----------------------FUNDO-BRANCO-ICONS--------------------- */

.container-contato i,
.container-contato-span i{
    background-color: white;
    
    width: 35px;
    height: 35px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-contato i{
    color: #25D366;
}

.container-contato-span i{
    color: #FF4DA6;
}

#seta{
    background-color: transparent;
    color: white;
}

/* ---------------RESPONSIVIDADE----------------- */

@media (min-width: 1440px) {
    header h1 {
        font-size: 3.5rem;
    }

    header h2 {
        width: 60%;
    }

    .containers-sabores {
        width: 22%;
    }

    .container-footer {
        margin-top: 6vh;
        margin-bottom: 15vh;
        /* flex-direction: column; */
        /* background-color: red; */
        width: 50%;
        gap: 20px;
        justify-content: center;
    }

    .container-contato {
        width: 40%;
        height: 8vh;
    }

    .container-contato-span {
        width: 40%;
        height: 8vh;
    }

    footer h1 {
        margin-top: 10vh;
    }
}

@media (min-width: 1201px) and (max-width: 1439px) {
    header h1 {
        font-size: 3rem;
    }

    header h2 {
        width: 70%;
        font-size: 1.3rem;
    }

    header button {
        width: 25vw;
    }

    .containers-sabores {
        height: 35vh;
        width: 30%;
    }

    .container-img {
        height: 70vh;
    }

    .container-footer {
        margin-top: 6vh;
        margin-bottom: 15vh;
        /* flex-direction: column; */
        /* background-color: red; */
        width: 60%;
        gap: 20px;
        justify-content: center;
    }

    .container-contato {
        width: 40%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    .container-contato-span {
        width: 40%;
        height: 10vh;
    }

    footer h1 {
        margin-top: 10vh;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    header h1 {
        font-size: 3rem;
    }

    header h2 {
        width: 70%;
        font-size: 1.3rem;
    }

    header button {
        width: 25vw;
    }

    .containers-sabores {
        height: 35vh;
        width: 30%;
    }

    .container-img {
        height: 70vh;
    }

    .container-footer {
        margin-top: 6vh;
        margin-bottom: 15vh;
        /* flex-direction: column; */
        /* background-color: red; */
        width: 60%;
        gap: 20px;
        justify-content: center;
    }

    .container-contato {
        width: 40%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    .container-contato-span {
        width: 40%;
        height: 10vh;
    }

    footer h1 {
        margin-top: 10vh;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    header h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    header h2 {
        width: 80%;
        font-size: 1.2rem;
    }

    header button {
        width: 40vw;
        height: 7vh;
    }

    .containers-sabores {
        height: 20vh;
        width: 30%;
    }

    .container-sabores p {
        margin-bottom: 2vh;
    }

    main {
        height: auto;
        padding-bottom: 5vh;
    }

    .container-img {
        height: 50vh;
    }

    .container-footer {
        margin-top: 4vh;
        flex-direction: column;
        /* background-color: red; */
        width: 60%;
        gap: 20px;
    }

    .container-contato {
        width: 60%;
        height: 6.5vh;
    }

    .container-contato-span {
        width: 60%;
        height: 6.5vh;
    }

    footer h1 {
        margin-top: 2vh;
    }
}

@media (min-width: 375px) and (max-width: 767px) {

    header {
        height: 100vh;
        padding: 5vh 0;
    }

    header h1 {
        font-size: 2rem;
    }

    header h2 {
        width: 90%;
        font-size: 1rem;
    }

    header button {
        width: 60vw;
        height: 6vh;
    }

    .containers-sabores {
        height: 20vh;
        width: 45%;
    }

    .containers-sabores-texto h2 {
        font-size: 2rem;
    }

    .containers-sabores-texto h1 {
        font-size: 0.8rem;
    }

    main {
        height: auto;
        padding-bottom: 5vh;
    }

    main h1 {
        font-size: 1.8rem;
    }

    .containers-sabores-promocao {
        width: 80%;
        height: 12vh;
    }

    .containers-sabores-promocao h2 {
        font-size: 1rem;
        width: 80%;
    }

    .container-img {
        height: 50vh;
    }

    .container-footer {
        margin-top: 4vh;
        flex-direction: column;
        /* background-color: red; */
        width: 65%;
        gap: 20px;
    }

    .container-contato {
        width: 100%;
        height: 6vh;
    }

    .container-contato-span {
        width: 100%;
        height: 6vh;
    }

    footer h1 {
        margin-top: 2vh;
    }

    footer p {
        width: 70%;
        text-align: center;
    }
}